<%= form_for(@post, html: {class: 'form-horizontal'}) do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being created:</h2>
  <% end %>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
      <p><%= message %></p>
      <% end %>
    </ul>
  </div>

  <div class="field form-group">
    <%= f.label :username, class: 'col-sm-2 control-label'%>
    <div class="col-sm-4">
      <%= f.text_field :username, class:'form-control' %>
    </div>
  </div>
  <br>
  <div class="field form-group">
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :title, class:'form-control' %>
    </div>
  </div>
  <br>
  <div class="field form-group">
    <%= f.label :post, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
    <%= f.text_area :body, class:'form-control' %>
    </div>
  </div>
  <br>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit %>
    </div>
</div>
<% end %>
