
<%= simple_form_for @post  do |f| %>

  <% if @post.errors.any? %>
    <div id='error-messages'>
      <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <%= f.input :username, placeholder: 'username', :input_html => {:style => 'width: 300px'} %>
  <%= f.input :title, :input_html => {:style => 'width: 300px'} %>
  <%= f.input :body, :input_html => {:style => 'width: 300px'}, :input_html => {:rows => 7} %>
  <%= f.button :submit %>
<% end %>
